@page
@model IndexModel
@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Haz click en una pestaña para acceder a una aplicación matemática.</p>
    <div id="results">
        <p id="bezout-p"></p>
        <p id="mcd-p"></p>
        <p id="mcm-p"></p>
    </div>
</div>
